body {
    background-color:cornflowerblue;
    color: white;
    font-family: tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: white;
   -webkit-text-stroke: 3px black;     
   font-size: 50px;
   margin-bottom: 1px;
}

p {
    color: lightblue;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;
    font-size: 20px; 
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(59, 255, 154);
    color: black;
    border: 2px solid black;
    border-radius: 18px;
    margin-bottom: 20px;
    margin-top: 60px;
    transition: all 0.1 ease-in-out;
    font-weight:600;
}

#btn0 {
    position: relative;
    top: 6px;
    left: -520px;
}

#btn1 {
    background-color: rgb(230, 137, 71);
    position: relative;
    top: -157px;
    left: -545px;
}

button:hover {
    border: 2px solid white;
    border-radius: 18px;
    color: grey;
}

#btn0:hover {
    background-color: #186a40;
}

#btn1:hover {
    background-color: #924922;
}

button:active {
    transform: scale(0.97);
}

#btn-desc0 {
    visibility: hidden;
    position: relative;
    top: -55px;
    left: 234px;
    text-align: left;
}

#btn-desc1 {
    visibility: hidden;
    position: relative;
    top: -47px;
    left: 185px;
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    body {
    background-color: rgb(39, 16, 10);
    color: black;
    }

    h1, h2, h3 {
        color: black;
       -webkit-text-stroke: 3px rgb(172, 145, 109);     
    }

    p {
        color: rgb(136, 92, 92);
    }

    #btn1 {
        background-color: rgb(167, 75, 75);
        color: lightgray;
    }

    #btn1:hover {
        background-color: rgb(117, 42, 42);
    }

    #btn0 {
        background-color: rgb(73, 116, 33);
        color: lightgray;
    }

    #btn0:hover {
        background-color: rgb(59, 69, 10);
    }
}